<!DOCTYPE html>
<html lang="en">
  <%= erb :header, :layout => false %>
  <body>
    <div class="row">
      <div class="span2 offset3">
	<h1>Yahtzee</h1>
      </div>
      <div class="span3">
	<br>
	Total score: 0
	<a href="http://chinstorff.com" style="float:right; color:#F02311;">chinstorff.com</a>
      </div>
    </div>
    <div class="row">
      <div class="span1 offset3">
	<div style="float:right">
	  <p style="font-family:dice; font-size:46px; line-height:46px;">
	    <a id="#adie" style="color:#000000; text-decoration:none">0</a><br>
	    <a id="#bdie" style="color:#000000; text-decoration:none">0</a><br>
	    <a id="#cdie" style="color:#000000; text-decoration:none">0</a><br>
	    <a id="#ddie" style="color:#000000; text-decoration:none">0</a><br>
	    <a id="#edie" style="color:#000000; text-decoration:none">0</a><br>
	  </p>
	  &nbsp;<button type="button" class="btn btn-default btn-small" id="roll" style="margin-top:0px">roll</button>
	</div>
      </div>
      <div class="span2">
	<table class="table table-condensed table-hover" style="margin-bottom:0px">
	  <tr id="aces"><td>Aces</td><td>&mdash;</td></tr>
	  <tr id="twos"><td>Twos</td><td>&mdash;</td></tr>
 	  <tr id="threes"><td>Threes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&mdash;</td></tr>
	  <tr id="fours"><td>Fours</td><td>&mdash;</td></tr>
	  <tr id="fives"><td>Fives</td><td>&mdash;</td></tr>
	  <tr id="sixes"><td>Sixes</td><td>&mdash;</td></tr>
	</table>
	
	<table class="table table-condensed">
	  <tr><td></td><td></td></tr>
	  <tr><td>Upper sum</td><td>0</td></tr>
	  <tr><td>Bonus</td><td>0</td></tr>
	  <tr><td>Subtotal</td><td>0</td></tr>
	  <tr><td></td><td></td></tr>
	</table>
      </div>
      <div class="span2">
	<table class="table table-condensed table-hover" style="margin-bottom:0px">
	  <tr><td>3 of a kind&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&mdash;</td></tr>
	  <tr><td>4 of a kind</td><td>&mdash;</td></tr>
	  <tr><td>Full house</td><td>&mdash;</td></tr>
	  <tr><td>Small straight</td><td>&mdash;</td></tr>
	  <tr><td>Large straight</td><td>&mdash;</td></tr>
	  <tr><td>Yahtzee</td><td>&mdash;</td></tr>
	  <tr><td>Chance</td><td>&mdash;</td></tr>
	</table>
	<table class="table table-condensed">
	  <tr><td>Yahtzee bonus</td><td>0</td></tr>
	  <tr><td></td><td></td></tr>
	  <tr><td>Subtotal</td><td>0</td></tr>
	  <tr><td></td><td></td></tr>
	</table>
      </div>
    </div>
  </body>
</html>
