<!DOCTYPE html>
<html lang="en">
  <%= erb :header, :layout => false %>
  <body>
    <div class="container form-board">
      <table class="table">
	<tr>
	  <td>
	    <table class="table table-hover table-condensed">
	      <tr><td>aces</td><td>[ ]</td></tr>
	      <tr><td>twos</td><td>[ ]</td></tr>
	      <tr><td>threes</td><td>[ ]</td></tr>
	      <tr><td>fours</td><td>[ ]</td></tr>
	      <tr><td>fives</td><td>[ ]</td></tr>
	      <tr><td>sixes</td><td>[ ]</td></tr>
	    </table>
	  </td>
	  <td>
	    <table class="table table-hover table-condensed">
	     <tr><td><a href="tbd">aces</a></td><td>[  ]</td></tr>
	     <tr><td><a href="tbd">twos</a></td><td>[  ]</td></tr>
	    </table>
	  </td>
	</tr>
      </table>
    </div>
  </body>
</html>
