<!DOCTYPE html>
<html lang="en">
  <%= erb :header, :layout => false %>
  <body>
    <div class="row">
      <div class="span2 offset3">
	<h1>Yahtzee</h1>
      </div>
      <div class="span3">
	<br>
	Total score: 0
	<a href="http://chinstorff.com" style="float:right; color:#F02311;">chinstorff.com</a>
      </div>
    </div>
    <div class="row">
      <div class="span1 offset3">
	<div style="float:right">
	  <p style="font-family:dice; font-size:46px; line-height:46px;">
	    <a href="#1" style="color:#000000; text-decoration:none">1</a><br>
	    <a href="#2" style="color:#000000; text-decoration:none">2</a><br>
	    <a href="#3" style="color:#000000; text-decoration:none">3</a><br>
	    <a href="#4" style="color:#000000; text-decoration:none">4</a><br>
	    <a href="#5" style="color:#000000; text-decoration:none">5</a><br>
	  </p>
	    &nbsp;<button type="button" class="btn btn-default btn-small" style="margin-top:0px">roll</button>
	</div>
      </div>
      <div class="span2">
	<table class="table table-condensed">
	  <tr><td>Aces</td><td>&mdash;</td></tr>
	  <tr><td>Twos</td><td>&mdash;</td></tr>
	  <tr><td>Threes</td><td>&mdash;</td></tr>
	  <tr><td>Fours</td><td>&mdash;</td></tr>
	  <tr><td>Fives</td><td>&mdash;</td></tr>
	  <tr><td>Sixes</td><td>&mdash;</td></tr>
	  <tr><td></td><td></td></tr>
	  <tr><td>Upper sum</td><td>0</td></tr>
	  <tr><td>Bonus</td><td>0</td></tr>
	  <tr><td>Subtotal</td><td>0</td></tr>
	  <tr><td></td><td></td></tr>
	</table>
      </div>
      <div class="span2">
	<table class="table table-condensed">
	  <tr><td>Three of a kind</td><td>&mdash;</td></tr>
	  <tr><td>Four of a kind</td><td>&mdash;</td></tr>
	  <tr><td>Full house</td><td>&mdash;</td></tr>
	  <tr><td>Small straight</td><td>&mdash;</td></tr>
	  <tr><td>Large straight</td><td>&mdash;</td></tr>
	  <tr><td>Yahtzee</td><td>&mdash;</td></tr>
	  <tr><td>Chance</td><td>&mdash;</td></tr>
	  <tr><td>Yahtzee bonus</td><td>&mdash;</td></tr>
	  <tr><td></td><td></td></tr>
	  <tr><td>Subtotal</td><td>0</td></tr>
	  <tr><td></td><td></td></tr>
	</table>
      </div>
    </div>
  </body>
</html>
